.login__form-btn {
  margin: 16px 0;
}
.login__header {
  margin-top: 0;
  margin-bottom: 32px;
  opacity: 0.8;
  font-family: Gotham;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #262626;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.error-msg {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(237, 65, 89, 0.25);
  padding: 11px 16px;
  margin-top: 0;
  margin-bottom: 24px;

  font-family: Gotham;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ed4159;
}
